﻿@using Billetera.Entidades.Parametros;
@using Billetera.Entidades.Numeracion;
@model NuevaTransaccionParametros
@{
    List<SelectListItem> tipos = new List<SelectListItem>
{
new SelectListItem()
{
Value = ((short)TipoTransaccion.Incremento).ToString(),
Text = "Incremento",
Selected = true
},
new SelectListItem()
{
Value = ((short)TipoTransaccion.Decremento).ToString(),
Text = "Decremento",
Selected = false
}
};
}
<div class="jumbotron">
    <h1>Billetera</h1>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Cuenta", "api", FormMethod.Post, new { @id = "formPost", style = "width:100%;" }))
        {
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CuentaId)
                            @Html.TextBoxFor(model => model.CuentaId, new { @class = "form-control", @type = "number", @required = "" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Tipo)
                            @Html.DropDownListFor(model => model.Tipo, tipos, new { @class = "form-control", @required = "" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Cantidad)
                            @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control", @type = "number", @required = "" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Concepto)
                            @Html.TextBoxFor(model => model.Concepto, new { @class = "form-control", @type = "text" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <br>
                        <button id="btnRegister" name="btnRegister" type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-12">
        <h3><strong>Saldo:</strong></h3>
        <span id="Saldo" name="Saldo"></span>
        <h3><strong>Detalle</strong></h3>
        <div class="table-responsive">
            <table class="table table-small-font table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Monto</th>
                        <th>Concepto</th>
                    </tr>
                </thead>
                <tbody id="body_table"></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>

<script>
    $(document).ready(function () {
        $('#formPost').submit(function (e) {
            e.preventDefault();
            $('#formPost').ajaxSubmit({
                type: "POST",
                dataType: "json",
                success: function (response) {
                    $('#Saldo').html(response.Saldo);
                    var renderBody = '';
                    for (var i = 0; i < response.Detalle.length; i++) {
                        var item = response.Detalle[i];
                        var tmprow = $('#tmpl_row').text();
                        tmprow = tmprow.replace('{{Type}}', item.Tipo == 1 ? 'Incremento' : 'Decremento');
                        tmprow = tmprow.replace('{{Amount}}', item.Cantidad);
                        tmprow = tmprow.replace('{{Concept}}', item.Concepto);
                        renderBody = renderBody + tmprow;
                    }
                    $('#body_table').html(renderBody);
                },
                error: function (response) {
                    alert(response.responseJSON.ExceptionMessage);
                }
            });
            return false;
        });
    });
</script>


<script id="tmpl_row" type="text/html">
    <tr>
        <td>{{Type}}</td>
        <td>{{Amount}}</td>
        <td>{{Concept}}</td>
    </tr>
</script>

